# Rust
target/
**/*.rs.bk


# Database & Keys
nocostcoin_db*/
wallet_*.key
core/nocostcoin_db*/
core/wallet_*.key
.env
.env*.local

# Logs
**/*.log

# OS
**/.DS_Store

# Node.js
node_modules/
.next/
out/
build/
dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
.nyc_output
coverage/
